/* Gemeinsame Stile für alle Schaltflächen */
/* Gemeinsame Button-Stile */
.button-common {
    border: none;
    border-radius: 5px;
    display: inline-flex; /* Flexbox für horizontale und vertikale Zentrierung */
    align-items: center;  /* Vertikale Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
    cursor: pointer;
    padding: 10px;
    font-size: 16px; /* Gemeinsame Schriftgröße */
}

.button-icon {
    margin-right: 0; /* Verhindert Abstand nach rechts, falls nicht benötigt */
    font-size: 18px;
    display: inline-block; /* Stellt sicher, dass das Icon gut im Button ausgerichtet ist */
}

/* Spezifische Stile für jede Schaltfläche */
.delete-btn {
    background-color: #1976d2; /* Harmonisches Blau */
    color: white;
}

.delete-btn:hover {
    background-color: #1565c0; /* Dunklerer Blauton für Hover */
}

.edit-btn {
    background-color: #1976d2; /* Harmonisches Blau */
    color: white;
}

.edit-btn:hover {
    background-color: #1565c0; /* Dunklerer Blauton für Hover */
}

.description-btn {
    background-color: #1976d2; /* Harmonisches Blau */
    color: white;
    text-decoration: none;
    font-size: 16px; /* Gemeinsame Schriftgröße */
    padding: 10px; /* Gemeinsame Polsterung */
}

.description-btn:hover {
    background-color: #1565c0; /* Dunklerer Blauton für Hover */
}

/* Falls Icons eine gemeinsame Farbe haben */
.description-btn i, .edit-btn i, .delete-btn i {
    color: white;
}

.description-btn i, .edit-btn i, .delete-btn i {
    color: white;
}

/* Button zum Hinzufügen eines neuen Eintrags */
.add-entry-btn-container {
    text-align: center;
    margin: 20px 0;
}

.add-entry-btn {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
}

.add-entry-btn i {
    font-size: 18px; /* Icon-Größe */
}

.add-entry-btn:hover {
    background-color: #1565c0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .button-common {
        padding: 8px;
        font-size: 14px;
    }

    .button-icon {
        font-size: 16px;
    }

    .add-entry-btn {
        padding: 8px 15px;
    }

    .add-entry-btn i {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .button-common {
        padding: 6px;
        font-size: 12px;
    }

    .button-icon {
        font-size: 14px;
    }

    .add-entry-btn {
        padding: 6px 10px;
    }

    .add-entry-btn i {
        font-size: 14px;
    }
}