h2 {
    text-align: center;
    color: #f5f5f5; /* Helles Weiß für die Überschrift */
    margin: 70px 0 20px 0 !important; /* Oberer Abstand von 40px, unterer Abstand von 20px */
}

.add-entry-btn-container {
    text-align: center;
    margin: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    table {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h2 {
        margin: 30px 0 10px 0;
    }
}