/* Login Form Container Anpassungen */
.w3-card-4 {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #505759 !important; /* Dunkler Hintergrund */
    color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Fehlernachricht im Login-Formular */
.w3-text-red {
    color: #ff5252;
    text-align: center;
    margin-bottom: 20px;
}
 
/* Einheitliche Größe für Inputs und Button */
.input-full {
    width: 100%;
    max-width: 280px;
    height: 40px;
    display: block;
    margin: 10px auto;
    background-color: #2a2a2a; /* Dunklere Eingabefelder */
    border: 1px solid #3a3a3a;
    color: #ffffff;
    border-radius: 6px;
    padding: 10px;
}

/* Hover-Effekt für den Button */
input[type="submit"]:hover {
    background-color: #1565c0 !important; /* Dunklerer Blauton für den Hover-Effekt */
    color: #ffffff !important;
}

/* Blaue Buttons */
.w3-button {
    background-color: #1976d2;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease;
}

.w3-button:hover {
    background-color: #0d47a1;
}

/* Stile für das Passwortfeld mit Augen-Symbol */
.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 30px; /* Platz für das Augensymbol */
}

.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .w3-card-4 {
        padding: 15px;
    }

    .input-full {
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .w3-card-4 {
        padding: 10px;
    }

    .input-full {
        max-width: 150px;
    }
}