h2 {
    text-align: center;
    color: #333;
    margin: 70px 0 20px 0 !important; /* Oberer Abstand von 40px, unterer Abstand von 20px */
}

/* Responsive Design */
@media (max-width: 768px) {
    h2 {
        margin: 50px 0 15px 0 !important; /* Oberer Abstand von 50px, unterer Abstand von 15px für mittlere Bildschirme */
    }
}

@media (max-width: 480px) {
    h2 {
        margin: 30px 0 10px 0 !important; /* Oberer Abstand von 30px, unterer Abstand von 10px für kleine Bildschirme */
    }
}