/* Styling für die Überschrift im Beschreibungsteil */
.description h2 {
    margin-top: 70px !important;
    text-align: center;
    color: #333;
    margin: 40px 0 20px 0;
    font-family: Arial, sans-serif;
}

/* Styling für den Beschreibungstext */
.description p {
    max-width: 800px;
    margin: 0 auto 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 1.1em;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    border: 1px solid black; /* Schwarzer Rahmen um den Text */
}

/* Styling für den Zurück-Link */
.description a {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #4CAF50;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 150px;
}

.description a:hover {
    text-decoration: underline;
}