/* Global Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Einheitliche Schriftart */
}

/* Body Styling */
body {
    min-height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

/* Header Styling */
header {
    background-color: #ccc;
    padding: 15px 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Main Content */
main {
    flex-grow: 1;
    padding: 20px;
    max-width: 1200px; /* Begrenzte Breite für bessere Lesbarkeit */
    margin: 0 auto; /* Zentriert das Hauptcontent */
}

/* Menü-Button Styling */
.w3-bar .w3-button { 
    padding: 12px 16px;
    font-size: 16px;
}

/* Versteckt das mobile Menü standardmäßig */
#mobileMenu {
    display: none;
}

/* Zeigt das mobile Menü an, wenn es aktiv ist */
#mobileMenu.w3-show {
    display: block;
}


/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 10px;
        font-size: 1.3rem;
    }

    main {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 8px;
        font-size: 1.1rem;
    }

    main {
        padding: 10px;
    }
}