/* Gemeinsame Stile für alle Schaltflächen */
.button-common {
    border: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    font-size: 16px; /* Gemeinsame Schriftgröße */
}

.button-icon {
    margin-right: 8px;
    font-size: 18px; /* Gemeinsame Symbolgröße */
}

/* Spezifische Stile für jede Schaltfläche */
.delete-btn {
    background-color: #f44336;
    color: white;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
}

.edit-btn:hover {
    background-color: #45a049;
}

.description-btn {
    background-color: #add8e6;
    color: white;
    text-decoration: none;
    font-size: 16px; /* Gemeinsame Schriftgröße */
    padding: 10px; /* Gemeinsame Polsterung */
}

.description-btn:hover {
    background-color: #87ceeb;
}

.description-btn i, .edit-btn i, .delete-btn i {
    color: white; /* Falls Icons eine gemeinsame Farbe haben */
}

/* Button zum Hinzufügen eines neuen Eintrags */
.add-entry-btn-container {
    text-align: center;
    margin: 20px 0;
}

.add-entry-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
}

.add-entry-btn i {
    font-size: 18px; /* Icon-Größe */
}

.add-entry-btn:hover {
    background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
    .button-common {
        padding: 8px;
        font-size: 14px;
    }

    .button-icon {
        font-size: 16px;
    }

    .add-entry-btn {
        padding: 8px 15px;
    }

    .add-entry-btn i {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .button-common {
        padding: 6px;
        font-size: 12px;
    }

    .button-icon {
        font-size: 14px;
    }

    .add-entry-btn {
        padding: 6px 10px;
    }

    .add-entry-btn i {
        font-size: 14px;
    }
}